registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
NVM_NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
PHANTOMJS_CDNURL=https://npmmirror.com/mirrors/phantomjs
CHROMEDRIVER_CDNURL=https://npmmirror.com/mirrors/chromedriver
OPERADRIVER_CDNURL=https://npmmirror.com/mirrors/operadriver
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass
SQLITE3_BINARY_SITE=https://npmmirror.com/mirrors/sqlite3
PYTHON_MIRROR=https://npmmirror.com/mirrors/python

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir=31.7.6
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
npm_config_electron_mirror=https://npmmirror.com/mirrors/electron/
npm_config_electron_custom_dir=31.7.6
npm_config_electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

npm_config_target=31.7.6
npm_config_runtime=electron
npm_config_platform=win32
npm_config_arch=x64
npm_config_target_arch=x64
npm_config_disturl=https://npmmirror.com/dist
npm_config_target_platform=win32 